a {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid skyblue 1px;
    background-color: skyblue;
     color: white;
}

.fab.fa-facebook-f {
    position: absolute;
    display: inline-block;
   
    font-size: 50px;
    margin-top: 26%;
    margin-left: 37%;
}

a:hover {
    background-color: white;
    color: skyblue;

}
/*
.fab.fa-facebook-f:hover {
    color:skyblue;
}
*/









